{% extends 'base.html' %}
{% block content %}
<!--This is a comment-->

<h2>Welcome</h2>
<p>Are you deciding to go back to school but are not sure what the college has to offer?
Use this app to quickly navigate Degrees by areas of interests and the guided pathways provided
by our team at North Seattle College!
</p>
<p>This site is currently under construction. In the future you can expect
to find <span style="font-weight: bold">jobs associated with specific degrees, class schedules and links to HandShake</span></p>

{%  endblock %}